@font-face {
  font-family: 'englandRg';
  src: url('fff_world_cup_2018_england-webfont.woff2') format('woff2'), url('fff_world_cup_2018_england-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.front, .back {
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}

#canvasFront, #canvasBack {
  position: relative;
  max-width: 100%;
  max-height:100%;
  z-index: 1;
}
.back .svg {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}

.back .svg svg {
  width: 100%;
  height: 100%;
}

.back .svg path {
  fill: none;
  transform: translateX(-20px) translateY(65px) rotateX(10deg);
}
.back .svg text {
  font-family: 'englandRg';
  fill: #dcdada;
  stroke: #C0212A;
}
.back .svg text.name {
  font-size: 45px;
}

.back .svg text.number {
  font-size: 150px;
  letter-spacing: -10px;
}